---
import MainLayout from "@datakata/layouts/MainLayout.astro";

const { frontmatter } = Astro.props;
---

<MainLayout
  page_title={frontmatter.page_title}
  page_description={frontmatter.page_description}
>
  <div id="doc-body" class="container max-w-screen-lg text-justify">
    <slot />
  </div>
  <script src="../scripts/doc_formatter.js"></script>
</MainLayout>
