---
const { page_title, page_description } = Astro.props;
const canonical_url = new URL(Astro.url.pathname, Astro.site);
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{page_title}</title>
    <meta name="description" content={page_description} />
    <meta name="yandex-verification" content="024451a87aa0a298" />
    <link rel="canonical" href={canonical_url} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-roboto">
    <slot />
  </body>
</html>
