---
---

<div class="grid grid-cols-2 justify-between p-2 text-2xs md:grid-cols-4 md:flex-row">
  <div class="basis-1/4 text-left md:text-center">ИП Пановский Валентин Николаевич</div>
  <div class="basis-1/4 text-right md:text-center">ОГРНИП 322774600390419</div>
  <div class="basis-1/4 text-left md:text-center">ИНН 771683960143</div>
  <div class="basis-1/4 text-right md:text-center">
    <a href="/documents" class="underline decoration-1 hover:font-bold hover:decoration-2"
      >Правовая информация</a
    >
  </div>
</div>
