---

---

<div class="text-center">
  По вопросам сотрудничества:
  <a
    href="https://t.me/panovskiy_v"
    rel="nofollow"
    target="_blank"
    class="hover:underline hover:decoration-2"
  >
    @panovskiy_v
  </a>
</div>
<div class="text-center">
  Телеграм канал проекта:
  <a
    href="https://t.me/data_kata"
    rel="nofollow"
    target="_blank"
    class="hover:underline hover:decoration-2"
  >
    @data_kata
  </a>
</div>
