---
import Card from "./Card.astro";

const prod_mode = !Astro.url.toString().includes("//dev.");
---

<div
  class="my-12 grid w-full grid-cols-1 justify-items-center gap-6 px-6 md:grid-cols-3"
>
  <Card
    title="Fox Driven"
    icon="fox.png"
    shadow_color="hover:shadow-foxdriven-accent"
    decoration_color="decoration-foxdriven-accent"
    url={prod_mode ? "https://foxdriven.ru" : "https://dev.foxdriven.ru"}
  >
    Блог по математике, программированию, анализу данных и машинному обучению
  </Card>
  <Card
    title="Cyber Pony"
    icon="pony.png"
    shadow_color="hover:shadow-cyberpony-accent"
    decoration_color="decoration-cyberpony-accent"
    url={prod_mode ? "https://cyberpony.ru" : "https://dev.cyberpony.ru"}
  >
    Платформа для решения задач оптимизации
  </Card>
  <Card
    title="Big Data Whale"
    icon="whale.png"
    shadow_color="hover:shadow-bigdatawhale-accent"
    decoration_color="decoration-bigdatawhale-accent"
    url={prod_mode ? "https://bigdatawhale.ru" : "https://dev.bigdatawhale.ru"}
  >
    Платформа для тренировки и знакомства с технологиями обработки и хранения
    данных
  </Card>
</div>
