---
const { is_visible = false } = Astro.props;

const isVisibleClass = is_visible ? "visible" : "hidden";
---

<div
  class:list={[
    "mx-auto mt-4 w-fit border-b-2 border-black text-2xl md:text-3xl",
    isVisibleClass,
  ]}
>
  <a href="/" ">
    <slot />
  </a>
</div>
