---
import "@common/styles/alpine.css";
import DefaultLayout from "@common/layouts/DefaultLayout.astro";
import Header from "@common/components/Header.astro";
import Footer from "@common/components/Footer.astro";

const { page_title, page_description, visible_header = true } = Astro.props;
---

<DefaultLayout
  page_title={page_title}
  page_description={page_description}
  suffix=" / Fox Driven"
  yandex_verification="719f922644efada5"
>
  <div class="flex min-h-[100dvh] w-screen flex-col justify-between">
    <div class="w-full">
      <Header is_visible={visible_header}>
        <div class="mx-auto text-center font-bold text-foxdriven-accent">
          Fox Driven
        </div>
      </Header>
    </div>
    <slot />
    <div class="w-screen"><Footer /></div>
  </div>
</DefaultLayout>
