---

---

<div class="relative h-[16rem] w-[24rem]">
  <div class="absolute left-0 top-0 h-[15rem] w-[23rem] bg-black"></div>
  <div
    class="absolute bottom-0 right-0 h-[15.5rem] w-[23.5rem] border-2 border-black bg-white"
  >
    <slot />
  </div>
</div>
