---

---

<div class="relative h-[8rem] w-[20rem] md:h-[8rem] md:w-[14rem]">
  <div
    class="absolute left-0 top-0 h-[7rem] w-[19rem] bg-black md:h-[7rem] md:w-[13rem]"
  >
  </div>
  <div
    class="absolute bottom-0 right-0 h-[7.5rem] w-[19.5rem] border-2 border-black bg-white p-1 md:h-[7.5rem] md:w-[13.5rem]"
  >
    <slot />
  </div>
</div>
