---
import MainLayout from "../layouts/MainLayout.astro";
import DetailCard from "../components/DetailCard.astro";

const title = "Валентин Пановский: CV";
const description = "Резюме (CV)";
---

<MainLayout page_title={title} page_description={description}>
  <div class="flex min-h-[100dvh] flex-col justify-center">
    <div class="mx-auto grid max-w-5xl grid-cols-1 gap-6 p-6">
      <DetailCard header="Профессиональный опыт">
        <div>
          <p>
            В настоящее время:
            <ul class="list-disc pl-5">
              <li>
                Group Chief Data Officer (директор по аналитики холдинга) в TBA
              </li>
              <li>
                Доцент факультета «Информационные технологии и прикладная
                математика»
                <a
                  href="https://mai.ru/"
                  rel="nofollow"
                  target="blank"
                  class="underline hover:decoration-2"
                >
                  МАИ (НИУ)
                </a>
              </li>
            </ul>
          </p>
          <p>
            Ранее:
            <ul class="list-disc pl-5">
              <li>
                Директор платформы данных маркетплейса
                <a
                  href="https://www.wildberries.ru/"
                  rel="nofollow"
                  target="blank"
                  class="underline hover:decoration-2"
                >
                  wildberries.ru
                </a>
              </li>
              <li>
                Chief Data Officer (директор департамента аналитики и управления
                данными) видеосервиса
                <a
                  href="https://more.tv/"
                  rel="nofollow"
                  target="blank"
                  class="underline hover:decoration-2"
                >
                  more.tv
                </a>
              </li>
              <li>
                Chief Data Officer (руководитель департамента обработки данных)
                образовательной платформы
                <a
                  href="https://skillbox.ru/"
                  rel="nofollow"
                  target="blank"
                  class="underline hover:decoration-2"
                >
                  Skillbox
                </a>
              </li>
              <li>
                Senior Data Scientist в экологическом стартапе
                <a
                  href="https://www.linkedin.com/company/aerostate/"
                  rel="nofollow"
                  target="blank"
                  class="underline hover:decoration-2"
                >
                  Aerostate
                </a>
              </li>
              <li>
                Аналитик платформы управления Retention
                <a
                  href="https://retailrocket.net/"
                  rel="nofollow"
                  target="blank"
                  class="underline hover:decoration-2"
                >
                  Retail Rocket
                </a>
              </li>
              <li>
                Ведущий инженер в
                <a
                  href="https://www.raspletin.com/"
                  rel="nofollow"
                  target="blank"
                  class="underline hover:decoration-2"
                >
                  ПАО «НПО «Алмаз»
                </a>
              </li>
            </ul>
          </p>
        </div>
      </DetailCard>
      <DetailCard header="Образование и квалификация">
        <ul class="list-disc pl-5">
          <li>
            <a
              href="https://mai.ru/events/defence/index.php?ELEMENT_ID=79506"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2"
              >кандидат физико-математических наук</a
            > по специальностям "Математическое моделирование, численные методы и
            комплексы программ" и "Системный анализ, управление и обработка информации",
            МАИ (2017)
          </li>
          <li>
            степень специалиста по направлению "Прикладная математика", МАИ
            (2014)
          </li>
          <li>
            степень специалиста по направлению "Экономика и управление на
            предприятии", МАИ (2014)
          </li>
          <li>
            <a
              href="https://gopractice.ru/course/pm/certificate/gz1vwhgt"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2">курс</a
            > "Симулятор управления продуктом на основе данных", GoPractice (2022)
          </li>
          <li>
            <a
              href="https://lab.karpov.courses/certificate/b2b089a2-cdd2-45f2-9954-2e8c39901c6c/"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2">курс</a
            > "System Design", Karpov Courses (2022)
          </li>
          <li>
            <a
              href="https://www.datacamp.com/statement-of-accomplishment/track/4476b4c0f7f998320964716203dd4130fbe62eb3"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2">профессиональный трек</a
            > "SQL Fundamentals Track", Datacamp (2022)
          </li>
          <li>
            <a
              href="https://www.coursera.org/account/accomplishments/specialization/certificate/JKRPXYMLPWKY"
              rel="nofollow"
              class="underline hover:decoration-2">специализация</a
            > "Executive Data Science", Coursera (2019)
          </li>
          <li>
            <a
              href="https://www.coursera.org/account/accomplishments/specialization/CP5SUXTRCELU"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2">специализация</a
            > "Mathematics for Machine Learning", Coursera (2018)
          </li>
        </ul>
      </DetailCard>
      <DetailCard header="Выступления на конференциях и избранные публикации">
        <ul class="list-disc pl-5">
          <li>
            <a
              href="https://smartdataconf.ru/talks/eadc31a75e784c3f82d9029eefbb0594/"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2"
              >участие в конференции с докладом</a
            > "Mage: волшебный инструмент оркестрации", SmartData, 2023
          </li>
          <li>
            <a
              href="https://smartdataconf.ru/talks/193d63d3f4eb43cd8e73bf0d90db1a2b/"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2"
              >участие в конференции с докладом</a
            > "Использование платформы GrowthBook для управления ML-экспериментами",
            SmartData, 2022
          </li>
          <li>
            <a
              href="https://highload.ru/foundation/2022/abstracts/8166"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2"
              >участие в конференции с докладом</a
            > "Особенности построения и поддержки аналитического in-house data lake
            в EdTech", Highload++ Foundation, 2022
          </li>
          <li>
            <a
              href="https://hightech.fm/2021/01/11/data-lakes"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2">статья</a
            > "Озера данных: как устроены data lakes и зачем они нужны", Хайтек,
            2021
          </li>
          <li>
            <a
              href="https://habr.com/en/post/328760/"
              rel="nofollow"
              target="blank"
              class="underline hover:decoration-2">статья</a
            > "Умеют ли коты строить регрессию?", Habr, 2017
          </li>
        </ul>
      </DetailCard>
      <DetailCard header="Технический стек">
        <ul class="list-disc pl-5">
          <li>
            языки программирования: Python (DS &amp; ML библиотеки), Scala &amp;
            R (чтение кода)
          </li>
          <li>ETL/оркестрация: Prefect, Dagster, Airflow</li>
          <li>Дашборды и Business Intelligence: Metabase, Redash, Superset</li>
          <li>Data Lineage &amp; Governance: DBT</li>
          <li>Прототипирование приложений: Streamlit</li>
          <li>DWH движки: Dremio, Trino (ex. Presto SQL)</li>
        </ul>
      </DetailCard>
    </div>
  </div>
</MainLayout>
